.background {
  background-image: url(https://img.besthqwallpapers.com/Uploads/3-12-2020/148017/4k-blue-3d-waves-artwork-wavy-backgrounds-waves-textures.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0px;
}
#font {
  font-family: dax;
}
.striscia {
  position: fixed;
  height: 70px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid red;
  opacity: 0.8;
}
.bandiere {
  width: 60px;
  height: 40px;
  margin-left: 20px;
  margin-top: 14px;
  opacity: 1;
}
#italia {
  margin-left: 100px;
}
#ACME {
  margin-left: 400px;
  margin-top: -45px;
  color: white;
}
#opendayonline {
  margin: auto;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 1px;
  max-width: 600px;
}
#opendayinte {
  margin: auto;
  text-align: center;
  color: white;
  background-color: orange;
  border-radius: 15px;
  padding: 1px;
  max-width: 600px;
}
#offertaformativa {
  background-color: hsl(0, 0%, 6%);
  height: auto;
  border: 3px solid white;
  color: white;
  text-align: center;
  padding: 30px;
}
.scuola {
  height: 150px;
}

.material-symbols-outlined {
  font-size: 70px !important;
}

a {
  text-decoration: none;
}
.orologio {
  height: 150px;
}
.soldi {
  height: 150px;
}
#welcome {
  background-color: black;
  padding: 20px;
  color: white;
  height: auto;
  border: 3px solid white;
}

h2[welcome] {
  margin: 70px 0px 70px 0px;
  border-left: 10px solid hsl(0, 100%, 70%);
  padding-left: 20px;
}

#video {
  padding: 2px;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 30px;
}
